# **PPL Assignment 3**

Done by:
Siddharth Sudhakar

Roll Number:
25901335

MTech Artificial Intelligence

# Q1) Generate all prime numbers less than 100. Print them in a spiral format (like a clockwise square spiral) of minimal size that fits all primes.

In [14]:
import math
import pandas as pd

In [15]:
primes = []
for num in range(2, 100):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)

In [16]:
n = 1
while n * n < len(primes):
    n += 2  # keep odd

In [17]:
grid = [[0 for _ in range(n)] for _ in range(n)]
r = c = n // 2   # start at center
directions = [(0,1),(1,0),(0,-1),(-1,0)]  # right, down, left, up
step = 1
idx = 0

In [18]:
grid[r][c] = primes[idx]
idx += 1

while idx < len(primes):
    for d in range(4):   # 4 directions
        dr, dc = directions[d]
        for _ in range(step):
            if idx >= len(primes): break
            r += dr
            c += dc
            grid[r][c] = primes[idx]
            idx += 1
        if d % 2 == 1:   # after down and up, step increases
            step += 1
        if idx >= len(primes): break

In [19]:
for row in grid:
    for val in row:
        if val == 0:
            print("  ", end="\t")
        else:
            print(val, end="\t")
    print()

73	79	83	89	97
71	17	19	23	29
67	13	2	3	31
61	11	7	5	37
59	53	47	43	41

# Q2) You are a data analyst at a streaming platform, managing user interactions, analytics, and daily operations. Use a for loop to create a text-based graph of hourly views. For example, use * to represent every 5 views.

In [1]:
# Sample data
hourly_views = [
    12, 18, 25, 41, 30, 15, # 00:00 - 05:00
    22, 35, 51, 60, 75, 80, # 06:00 - 11:00
    90, 88, 76, 62, 55, 40, # 12:00 - 17:00
    45, 50, 65, 70, 42, 23  # 18:00 - 23:00
]

In [3]:
print("Hourly Platform Views (* = 5 views)")
print("-" * 40)

for hour, views in enumerate(hourly_views):

    # Calculate the number of stars
    num_stars = views // 5
    bar = "*" * num_stars

    # Print the graph line
    print(f"Hour {hour:02}:00 | {views:3} views | {bar}")

Hourly Platform Views (* = 5 views)
----------------------------------------
Hour 00:00 |  12 views | **
Hour 01:00 |  18 views | ***
Hour 02:00 |  25 views | *****
Hour 03:00 |  41 views | ********
Hour 04:00 |  30 views | ******
Hour 05:00 |  15 views | ***
Hour 06:00 |  22 views | ****
Hour 07:00 |  35 views | *******
Hour 08:00 |  51 views | **********
Hour 09:00 |  60 views | ************
Hour 10:00 |  75 views | ***************
Hour 11:00 |  80 views | ****************
Hour 12:00 |  90 views | ******************
Hour 13:00 |  88 views | *****************
Hour 14:00 |  76 views | ***************
Hour 15:00 |  62 views | ************
Hour 16:00 |  55 views | ***********
Hour 17:00 |  40 views | ********
Hour 18:00 |  45 views | *********
Hour 19:00 |  50 views | **********
Hour 20:00 |  65 views | *************
Hour 21:00 |  70 views | **************
Hour 22:00 |  42 views | ********
Hour 23:00 |  23 views | ****

# Q3) Each video watched generates revenue based on ad impressions:
#* First 10 views: $0.50 per view

#* Next 20 views: $0.30 per view

#* Remaining views: $0.10 per view

#You are given hourly views for the day. Calculate total daily revenue.

In [4]:
def calculate_revenue(views):
    revenue = 0.0

    if views > 30:
        revenue += (views - 30) * 0.10
        views = 30

    if views > 10:
        revenue += (views - 10) * 0.30
        views = 10

    # Calculate revenue for the first 10 views
    revenue += views * 0.50

    return revenue

In [5]:
total_daily_views = sum(hourly_views)

total_revenue = calculate_revenue(total_daily_views)

In [6]:
print(f"Total Daily Views: {total_daily_views}")
print(f"Total Daily Revenue: ${total_revenue:.2f}")

Total Daily Views: 1170
Total Daily Revenue: $125.00