# Python Assignment 5
Done by: Siddharth Sudhakar (25901335)

## **Question 1**
Write a program that has classes such as Student, Course and Department.
Enroll a student in a course of a particular department.

In [1]:
class Department:
    def __init__(self, name):
        self.name = name
        self.courses = []

    def add_course(self, course):
        if course not in self.courses:
            self.courses.append(course)
            course.department = self

    def __repr__(self):
        return f"Department({self.name})"

In [2]:
class Course:
    def __init__(self, code, title):
        self.code = code
        self.title = title
        self.department = None
        self.enrolled_students = []

    def enroll(self, student):
        if student not in self.enrolled_students:
            self.enrolled_students.append(student)
            student.courses.append(self)

    def __repr__(self):
        dept = self.department.name if self.department else "No Dept"
        return f"Course({self.code}, {self.title}, dept={dept})"

In [3]:
class Student:
    def __init__(self, roll_no, name):
        self.roll_no = roll_no
        self.name = name
        self.courses = []

    def enroll_in(self, course):
        course.enroll(self)

    def list_courses(self):
        return [f"{c.code} - {c.title} ({c.department.name if c.department else 'No Dept'})"
                for c in self.courses]

    def __repr__(self):
        return f"Student({self.roll_no}, {self.name})"

In [4]:
cs_dept = Department("Computer Science")
maths_dept = Department("Mathematics")

c1 = Course("CS101", "Intro to Programming")
c2 = Course("CS201", "Data Structures")
m1 = Course("MATH101", "Calculus I")

cs_dept.add_course(c1)
cs_dept.add_course(c2)
maths_dept.add_course(m1)

In [5]:
s1 = Student("S001", "Siddharth")
s2 = Student("S002", "Sammy")

s1.enroll_in(c1)
s2.enroll_in(m1)

print("Students and their courses:")
print(s1, "->", s1.list_courses())
print(s2, "->", s2.list_courses())
print("\nCourse enrollments:")
print(c1, "students:", c1.enrolled_students)
print(m1, "students:", m1.enrolled_students)

Students and their courses:
Student(S001, Siddharth) -> ['CS101 - Intro to Programming (Computer Science)']
Student(S002, Sammy) -> ['MATH101 - Calculus I (Mathematics)']

Course enrollments:
Course(CS101, Intro to Programming, dept=Computer Science) students: [Student(S001, Siddharth)]
Course(MATH101, Calculus I, dept=Mathematics) students: [Student(S002, Sammy)]

## **Question 2**
Write a program with class Bill. The users have the option to pay the bill
either by cheque or by cash. Use the inheritance to model this situation.

In [6]:
class Bill:
    def __init__(self, bill_no, amount, payer_name):
        self.bill_no = bill_no
        self.amount = float(amount)
        self.payer_name = payer_name
        self.paid = False
        self.payment_info = None

    def pay(self, payment_method):
        if self.paid:
            raise RuntimeError("Bill already paid")
        payment_method.process_payment(self)
        self.paid = True
        self.payment_info = payment_method

    def __repr__(self):
        status = "PAID" if self.paid else "UNPAID"
        return f"Bill({self.bill_no}, {self.amount}, {self.payer_name}, {status})"

In [7]:
class PaymentMethod:
    def process_payment(self, bill: Bill):
        raise NotImplementedError("subclasses must implement")

In [8]:
class CashPayment(PaymentMethod):
    def __init__(self, received_by):
        self.received_by = received_by

    def process_payment(self, bill: Bill):
        bill.payment_receipt = {
            "method": "cash",
            "amount": bill.amount,
            "received_by": self.received_by
        }
        print(f"Cash payment of {bill.amount} received by {self.received_by} for bill {bill.bill_no}")


class ChequePayment(PaymentMethod):
    def __init__(self, cheque_no, bank_name):
        self.cheque_no = cheque_no
        self.bank_name = bank_name

    def process_payment(self, bill: Bill):
        bill.payment_receipt = {
            "method": "cheque",
            "amount": bill.amount,
            "cheque_no": self.cheque_no,
            "bank": self.bank_name
        }
        print(f"Cheque payment recorded: Cheque #{self.cheque_no} from {self.bank_name} for bill {bill.bill_no}")

In [9]:
bill1 = Bill("B1001", 1500, "Rohan")
cash = CashPayment(received_by="Cashier A")
bill1.pay(cash)
print("Bill status:", bill1)
print("Payment receipt:", bill1.payment_receipt)

Cash payment of 1500.0 received by Cashier A for bill B1001
Bill status: Bill(B1001, 1500.0, Rohan, PAID)
Payment receipt: {'method': 'cash', 'amount': 1500.0, 'received_by': 'Cashier A'}

In [10]:
bill2 = Bill("B1002", 3200, "Harsha")
cheque = ChequePayment(cheque_no="CHQ123456", bank_name="State Bank of India")
bill2.pay(cheque)
print("Bill status:", bill2)
print("Payment receipt:", bill2.payment_receipt)

Cheque payment recorded: Cheque #CHQ123456 from State Bank of India for bill B1002
Bill status: Bill(B1002, 3200.0, Harsha, PAID)
Payment receipt: {'method': 'cheque', 'amount': 3200.0, 'cheque_no': 'CHQ123456', 'bank': 'State Bank of India'}

## **Question 3**
Write a program to overload the -= operator to subtract two Distance
Objects.

In [11]:
class Distance:
    def __init__(self, meters=0.0):
        self.meters = float(meters)

    def __sub__(self, other):
        if not isinstance(other, Distance):
            return NotImplemented
        return Distance(self.meters - other.meters)

    def __isub__(self, other):
        if not isinstance(other, Distance):
            return NotImplemented
        self.meters -= other.meters
        return self

    def __repr__(self):
        m = int(self.meters)
        return f"Distance({self.meters} m)"

    def as_km_m(self):
        km = int(self.meters // 1000)
        m = self.meters - km * 1000
        return f"{km} km {m:.2f} m"

In [12]:
d1 = Distance(2500)   # 2.5 km
d2 = Distance(750)    # 0.75 km

print("Before -= :", d1, d1.as_km_m())
d1 -= d2
print("After d1 -= d2 :", d1, d1.as_km_m())

Before -= : Distance(2500.0 m) 2 km 500.00 m
After d1 -= d2 : Distance(1750.0 m) 1 km 750.00 m

In [13]:
d3 = Distance(1000)
d4 = Distance(200)
d5 = d3 - d4
print("d3 - d4 =", d5, d5.as_km_m())

d3 - d4 = Distance(800.0 m) 0 km 800.00 m

## **Question 4**
Write a program with two classes for calculating the distance. One has
distance specified in meters and other has distance in kilometres. These
functions take argument of class Distance that converts the distance into
kilometres and meters.

In [14]:
class Distance:

    def __init__(self, meters=0.0):
        self.meters = float(meters)

    def to_meters(self):
        return self.meters

    def to_kilometres(self):
        return self.meters / 1000.0

    def __repr__(self):
        return f"Distance({self.meters} m)"

In [15]:
class Meters:
    def __init__(self, meters):
        self.meters = float(meters)

    def to_distance(self):
        return Distance(self.meters)

    def __repr__(self):
        return f"Meters({self.meters} m)"

In [16]:
class Kilometres:
    def __init__(self, km):
        self.km = float(km)

    def to_distance(self):
        return Distance(self.km * 1000.0)

    def __repr__(self):
        return f"Kilometres({self.km} km)"

In [17]:
def convert_to_km(dist: Distance):
    return dist.to_kilometres()

In [18]:
def convert_to_meters(dist: Distance):
    return dist.to_meters()

In [19]:
dm = Meters(1500)          # 1500 meters
dk = Kilometres(2.3)      # 2.3 km

d1 = dm.to_distance()
d2 = dk.to_distance()

In [20]:
print(dm, "-> as Distance:", d1)
print(dk, "-> as Distance:", d2)

print("d1 in km:", convert_to_km(d1))
print("d2 in meters:", convert_to_meters(d2))

Meters(1500.0 m) -> as Distance: Distance(1500.0 m)
Kilometres(2.3 km) -> as Distance: Distance(2300.0 m)
d1 in km: 1.5
d2 in meters: 2300.0